.button {
  cursor: pointer;
  display: flex;
  width: 210px;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #000;
}

.submit {
	background-color: #ffc802;
	color: black;

	&:hover {
		background-color: #FFEDAB;
	}
}

.reset {
	background-color: white;
	color: black;

	&:hover {
		background-color: black;
		* {
      color: white !important;
    }
	}
}